<!DOCTYPE html><html><head><meta charset="utf-8"><script>var API_URL='';</script><script>var DATA = {};
var V = 1422440726;
</script><script src="/build/vendor.js?v=1422440726"></script><link rel="stylesheet" href="/build/vendor.css?v=1422440726"><script src="/javascripts/application.js?v=1422440726"></script><link rel="stylesheet" href="/build/main.css?v=1422440726"></head><body><div class="layout"> <div id="order-form" ng-controller="OrderCtrl"><h1>Связаться с нами</h1><label>Имя:<input ng-model="data.name"/></label><br/><label>Контактный телефон:<input ng-model="data.phone"/></label><br/><label>Электронная почта:<input ng-model="data.email"/></label><br/><label>Комментарий:<textarea ng-model="data.comment"></textarea></label><br/><button ng-click="submit()">Отправить</button></div><script>var app = angular.module('app', [])
.controller('OrderCtrl', function($scope, $http) {
  $scope.submit = function(){
    $http.post(API_URL+'/form.php', $scope.data).success(function(data){
      console.log(data);
      alert('Errors: '+data.error+', uid: '+data.uid);
    });
  }
  $scope.data = {};
});
angular.bootstrap(document.getElementById('order-form'), ['app']);</script></div><script data-no-instant="data-no-instant">InstantClick.on('change', function() {
  //ga('send', 'pageview', location.pathname + location.search);
  window.scroll(0,0)
})
InstantClick.init();</script></body></html>